name: cinam_yeucau1_nginxwelcome_up

on:
  workflow_dispatch:
  push:
    branches: [main] 
    path:
      - '.github/workflows/cilong_yeucau1_nginxwelcome_up.yml'
      - 'zcuoikhoa/yeucau1_nginxwelcome/linux_sh_app/docker/**'
jobs:
  up-job:
    runs-on: ubuntu-22.04
    env:
      NAME: Long

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PERSONAL_ACCESS_TOKEN }}" \
          | docker login -u "${{ vars.DOCKER_LOGIN_USER }}" --password-stdin

      - name: Docker compose up
        run: |
          cd zcuoikhoa/yeucau1_nginxwelcome/linux_sh_app/docker
          docker compose up -d

      - name: Test result
        run: |
          sleep 3
          curl -s http://localhost:8080 | tee /tmp/out.html
          cat /tmp/out.html | grep "Welcome"
          cat /tmp/out.html | grep "$NAME"

      - name: Docker compose logs
        if: always()
        run: |
          cd zcuoikhoa/yeucau1_nginxwelcome/linux_sh_app/docker
          docker compose logs
