name: cilong_yeucau2_dslopjson_up

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]


jobs:
  deploy_job:
    runs-on: ubuntu-22.04
    env:
      SSH_USER: long
      SSH_HOST: 52.221.30.212
    steps:
      - name: --- add ssh key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_REMOTE_SERVER }}
      - name: --- setup known_hosts
        shell: bash
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H "${{ env.SSH_HOST }}" >> ~/.ssh/known_hosts

      - name: --- ssh to vm todb18 then up w/ image fr dockerhub
        run: |
          ssh $SSH_USER@$SSH_HOST bash -s << EOSSH
          set -euo pipefail  # 1st line must align like this when use this heredoc
          ls -lah
          pwd
          
          set -x

          printf '\n--- git pull latest code\n'
          cd /home/long/_/todb18_long_cuoikhoa/todb18_long_cuoikhoa
          git fetch --all

          printf '\n--- up stack webapp+apiapp fr image\n'
          cd ./zcuoikhoa
          ls -al
          cd ./yeucau2_dslopjson
          cd ./webapp
          cd ./flask_webapp
          cd ./zdocker-image-fr-dockerhub
          # cd ./zcuoikhoa/yeucau2_dslopjson/webapp/flask_webapp/zdocker-image-fr-dockerhub
          docker compose \
            -f ./docker-compose--image-fr-dockerhub.yml \
            --progress=plain up --force-recreate -d  --remove-orphans  --pull always
          EOSSH
  